.constants{
    width: 78vw;
    width: 50vw;
    height: 100%;
    border-bottom: solid;
    border-top: solid;
    display: flex;
    //flex-direction: column;

    table{
        border-collapse: collapse;
        border-spacing: 0;
        width: 70%;
        width: 100%;
        display: table;
        margin-top: 2vw;
        border-top: 2px solid #ddd;
    
        tr{
            border-bottom: 1px solid #ddd;

            th{
                font-weight: 100;
            }
    
            th, td{
                padding: 1vw;
                display: table-cell;
                text-align: center;
                vertical-align: top;
            }
        }
    }

    .flight-selected{
        background-color: #e3e3e6;
        border: solid 2px #9b9b9c;
    }
}



@media only screen and (max-width: 600px) {
    .constants{
        width: 100%;
        height: auto;
        border: none;
        border-left: solid;
        border-right: solid;

        table{
            tr{
                th, td{
                    padding: 0;
                    text-align: start;
                    width: 20%;

                }
            }
        }

    }
  }