
<div class="constants">
    <table>
        <thead>
            <tr>
                <td>Flight Number</td>
                <td>Origin</td>
                <td>Origin Date</td>
                <td>Duration</td>
                <td>Duration Date</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightOfWorker" [ngClass]="selectedFlight == flight.Num ? 'flight-selected' : ''" (click)="onOpenFlightInfo(flight)">
                <td>{{flight.Num}}</td>
                <td>{{flight.From}}</td>
                <td>{{flight.From_date}}</td>
                <td>{{flight.To}}</td>
                <td>{{flight.To_date}}</td>
            </tr>
        </tbody>
    </table>
</div>

